# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# FastF1 cache
cache/

# IDE - PyCharm / IntelliJ
.idea/

# macOS
.DS_Store

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/
